* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

}

#pageNav {
    padding: 20px;
    width: 320px;
    background: dodgerblue;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -320px;
    min-height: 100vh;

    text-align: right;

    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#pageHeader {
    padding: 20px;
    background: darkviolet;
}

#pageFooter {
    margin-top: auto;
    height: 200px;
    background: blue;
}

#menu-btn:checked ~ #pageNav {
    left: 0;

    right: initial;
}

svg {
    height: 40px;
    width: 40px;
}

svg > path {
    fill: white;
}


